# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# Local development
.DS_Store
.idea/
.vscode/

# Static files
static/presentations/
